:root{
    --twitter-color:#50b7f5;
    --twitter-background: #e6ecf0;   
       }

   *{
    background-color: white;
   }

   body::-webkit-scrollbar{
    display: none;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
    

.left-section{
    visibility: none;
    position: absolute;
    display: none;
}

.right-section{
    visibility: none;
    position:absolute;
    display: none;
}
   

   .middle-section{
    padding-inline:10px;
    margin: 0 auto;
    margin-top: 15px;
       
   }

   

   .menu{
    padding-inline: 10px;
    /*padding-top: 15px;*/
    width: 78vw;
    height: 100vh;
    position: absolute;
      margin-top: 2px;
    z-index: 500;/*Ridiculus*/
    background-color:white /*var(--twitter-background)*/;
    
    font-family: 'Roboto', sans-serif;
    
    visibility: hidden;
    -ms-overflow-style: none;
        scrollbar-width: none;
}
.closeBtn{
    border: none;
}
.fa-x{
    cursor: pointer;
    margin-top: 4px;
    border-radius: 10px;
}

.fa-x:hover{
    background-color: var(--twitter-background);
}
.first-wrapper{
    display: flex;
    justify-content: space-between;
}

.side-1, .side-2{

    display:grid;
    grid-template-areas: "top"
                          "bottom";
    row-gap:20px;                      
}

.side-1 img{
    height: 40px;
     width:40px;
     border-radius: 20px;     
     cursor: pointer;
     
}


.third-wrapper{
    margin: 10px 0px;
}

.third-wrapper span{
    display: flex;
}

.third-wrapper p{
color: grey;
margin-left: 3px;
}

.third-wrapper{
    width:90%;
    display: flex;
    justify-content: space-between;
}

.fourth-wrapper{
    width:90%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    
}

.side-list{
    display: block;
    
}

.side-list i{
    display: block;
    padding-block: 12px;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
}

.side-list p{
    padding-block: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
}

.side-list i:hover{
    background-color: var(--twitter-background);
    cursor: pointer;
}
.side-list p:hover{
    background-color: var(--twitter-background);
    cursor: pointer;
}


.last-wrapper .bars{
    display: flex;
    justify-content: space-between;
    padding-block: 16px;
   
}

.last-wrapper{
    border-top: 1px solid var(--twitter-background);
    padding-block: 18px;
}


.hidden-things{
    display: flex;
    justify-content: space-between;
    width: 58%;
    font-size: smaller;
    position: relative;
    cursor: pointer;

}
.exception{
    width: 78%;
}


.bars-container{
max-height: 33px;
cursor: pointer;
}
.reveal{
   max-height: fit-content; 
   
}

.hidden-container{
    visibility: hidden;
    cursor: pointer;
    
}
.show{
    visibility: visible;
}



   .top-navbar{
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-areas: "left center";
    margin-bottom: 20px;
   }

   .top-navbar img{
     height: 40px;
     width:40px;
     border-radius: 20px;
     justify-self: start;
     grid-area: left;
     cursor: pointer;
   }

   .avatar-button{
    border: none;
    width: fit-content;
   }

   .top-navbar .fa-twitter{
      font-size:24px;
      color: var(--twitter-color);
      justify-self: center;
      position: absolute; /*centers it in respect to the entire width*/
   }
   
   
   .bottom-navbar{
    display: flex;
    justify-content: space-around;
   
    border-bottom: 1px solid var(--twitter-background);
    margin-bottom:4px;
    
   }

   .bottom-navbar a{
    text-decoration: none;
    color:black;
    font-weight: 600;
     padding-bottom: 12px;
     font-family: 'Roboto', sans-serif;
     
   }

   .bottom-navbar a:active{ 
    border-bottom: 5px solid var(--twitter-color);
   }

    .active-bottom{
        border-bottom: 5px solid var(--twitter-color);
    
    }


    .sticky{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid var(--twitter-background);
        z-index: 8000;/*ridiculous*/
        top:0;
        left: 0;
        padding-top: 30px;
        padding-bottom:20px;
        margin-bottom: 8px;
      /*I honestly don't think Grid is a fan of fixed position elements*/
    }

    .push-down{
        padding-bottom: 16px;
    }

    .dissapear{
        position: absolute;
        visibility: hidden;
    }

    .for-big-screens{
        display: none;
    }
    article{
       
               
         padding-block: 10px;
         border-bottom: 1px solid var(--twitter-background);
         display: grid;
        grid-template-columns: 1.2fr repeat(4,1fr);
        grid-template-rows: 0.1fr 1.5fr 0.1fr;
        
 
     }
 .second-row{
     display: flex;
     flex-direction: column;
     width: 100%;
     grid-column-start: 2;
     grid-column-end: 6;
     position: relative;
     margin-top: -30px;
 }
 .second-row img{
     border-radius: 12px;
     margin-top: 10px;
     
 }
 article .pesin-avatar{
     height: 50px;
     width:46.5px;
     border: 1px solid red;
     clip-path: circle(); /* This is better than setting an unholy amount of border radius 😂  */ 
     justify-self: center;
 }
 p.time{
     justify-self: center;
 }
 
 .ellu-p{
     justify-self: end;
 }
 
 p.username{
     justify-self: end;
     padding-left: 4px;
 }
 
 
 .fa-comment{
     grid-column-start: 2;
 }
 
 .fa-retweet{
     justify-self: center;
 }
 
 .fa-heart{
     justify-self: center;
 }
 
 .fa-share-nodes{
     justify-self: end;
 }
 
 .second-row a{
     text-decoration: none;
     color:var(--twitter-color);
 }






    .bottom-buttons{
       /* margin: 0 auto;*/
         padding-inline: 30px;
        width: 100%;
        height: 40px;
        bottom: 0;
        left:0;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 300;/*This is so funny*/
        padding-block: 10px;
        border-top: 1px solid var(--twitter-background);
        border-bottom: 1px solid var(--twitter-background);
    }

    .bottom-buttons i{
        cursor: pointer;
    }

    .tweet-content{
        display: grid;
        row-gap:10px;
       
     }

   
.tweet{
    width: fit-content;
    /*Band aid code*/
    position: fixed;
    margin-top: 150%;
    right:12%;
    color: var(--twitter-color);
    padding: 14px;
    clip-path: circle();
    background-color: var(--twitter-color);
    cursor: pointer;
    
}


.load-more{
    background-color: purple;
    cursor: pointer;
    color:white;
    border-radius: 20px;
    padding-inline: 5px;
    width: fit-content;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
    transition: transform .5s;

}
.load-more:hover{
    transform: scale(1.5);
}


/*This media query is for very big screens*/
@media screen and (min-width:1005px) {
   
.avatar-button img{
    display: none;
}

    .whole-page{
        display:grid;
        grid-template-columns: 1fr 2fr 1.5fr;
        padding-inline: 5%;
        
        
        
    }

    .left-section{
        visibility: visible;
        display: unset;
        grid-column-start: 1;
        position: unset;
        margin-top: 15px;
        width: 85%;
        font-family: 'Roboto', sans-serif;
        margin-left: 10%;
        height: 100vh;
        overflow: hidden;
        
        
        
    }

   
    .right-section{
        visibility: visible;
        display: unset;
        grid-column-start: 3;
        position: unset;
        margin-top: 15px;
        padding-inline: 16px;
        width: 80%;
        height: 100vh;
        margin-right: 13%;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
    }

    .bandAid-stick{
        position: sticky;
        top:5rem;
    }
    .bottom-buttons{
        display:none;
    }

    body .middle-section{
        grid-column-start: 2;
        position: unset;
        border-left: 1px solid var(--twitter-background);
        border-right: 1px solid var(--twitter-background);
        overflow-y: scroll;

        
    }

    .for-big-screens{
        display: unset;
        font-family: 'Roboto', sans-serif;
      border-bottom: 1px solid var(--twitter-background);  
    }

    .for-big-screens .top-layer{
        display: flex;
    }
 
      
     .for-big-screens .bottom-layer{
        display: flex;
        justify-content: space-between;
        padding-inline: 8px;
        margin-top: 12px;
     }

     .bottom-layer .inner-left{
        display: flex;
        width: 50%;
        justify-content: space-between;
     }
     .inner-left i{
        color: var(--twitter-color);
       
     }

     .top-layer img{
        height: 40px;
        width: 40px;
        clip-path: circle();
     }
    .top-layer p{
        margin-left: 15px;
        color: grey;
        font-size: 1.6rem;
    }

    .bottom-layer .tweet-button{
     width: 80px;
     border-radius: 20px;
     padding-block: 8px;
     border: none;
     background-color: var(--twitter-color);
    }
   .left-section .fa-twitter{
    position: relative;
    color: var(--twitter-color);
    font-size: 24px;
   }
   
   .level-2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 38px;
    
   }

   .logos, .logo-description {
     display: flex;
     flex-direction: column;
    
   }

   .logo-description{
    margin-left: 20px;
   }

   .left-section-tweet-button{
    
    width: 74%;
    border-radius: 20px;
    padding-block: 9px;
    margin-top: 12px;
    background-color: var(--twitter-color);
    color: var(--twitter-background);
    font-weight: 900;
    border: none;
    cursor: pointer;
}
    
   
   .last-item-left-container img{
    clip-path: circle();
    height: 40px;
    width: 40px;
    grid-row-start: 1;
    grid-row-end: 3;  
    cursor: pointer; 
}

   .last-item-left-container{
    display: flex;
    margin-top: 80%;

    
   }
 .last-item-left-container .left-side{
    display: grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns: 0.7fr 1fr;
    cursor: pointer;
 }

  .logos i{
    padding-block: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
 }

 .logos i:hover{
    background-color: var(--twitter-background);
 }
.logo-description p{
    padding-block: 10.5px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.logo-description p:hover{
    background-color: var(--twitter-background);
}

 .last-item-left-container .right-side{
    position: relative;
    transform: translateY(30%);
    cursor: pointer;
 }


 
     form{
   display: flex;
   padding-block:10px;
   padding-inline: 8px;
   border: 1px solid var(--twitter-background);
   background-color: lightgray;
   border-radius: 20px;
   text-align: center;
   align-items: center;
   font-family: 'Roboto', sans-serif;
 }

 .input-text{
   margin-left: 28px;
   border:none;
   background: transparent;
   outline: none;
 }

 .fa-magnifying-glass{
   color:grey;
   border: none;
   background: transparent;
 }

 .middle-cont{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    border-radius: 20px;
    margin-top: 20px;
    background: transparent;
    background-color: grey ;
    

 }
 .lil-boxes{
    padding-block: 10px;
 }

 .lil-boxes{display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: 0.9fr 0.1fr;
}
.lil-boxes i{
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: end;
}
.lil-boxes p{
    grid-row-start: 2;
    font-size: 1.3rem;
}

.lil-boxes .last-item{
grid-row-start: 3;
grid-column-start:1;
}

.lil-boxes h4{
    color:gray;
}

.message-box{
    position: fixed;
    height: 80px;
    width: 300px;
    right: 11rem;
    bottom:0;
    z-index: 3000;
    display: flex;
    justify-content: space-between;
}

.message-box:hover{
    cursor: pointer;
}
.message-box i, .message-box h2{
    background: transparent;
    font-size: 2rem;
    padding-inline: 4px;
}

}
/*End of media query*/

/*For small tablets*/
@media  (min-width:500px) and (max-width:1004px) {
   .avatar-button img{
    display: none;
   }
    .left-section{
        visibility: visible;
        display: unset;
        margin-top: 65px;
        width:fit-content;
        font-family: 'Roboto', sans-serif;
        margin-left: 10%;
        
        overflow: hidden;
        position: fixed;
        /*I honestly don't know what is going on here*/
        
    }
   .whole-page{
    display: grid;
    grid-template-columns: 1fr 5fr;
   }
.bottom-buttons{
    display: none;
}
.middle-section{
    grid-column-start: 2;
}
.left-section .logos{
    display: flex;
    flex-direction: column;
    height: 100%;
   
}
.logos i{
    padding-block: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-block: 10px;
    
 }
.left-section .fa-twitter{
    color: var(--twitter-color);
    font-size: 24px;
}
 .logos i:hover{
    background-color: var(--twitter-background);
 }

.left-section .logo-description{
    display: none;
}
.last-item-left-container img{
    height: 40px;
    width: 40px;
    clip-path: circle();
    margin-top: 30px;
}
 
.last-item-left-container .left-side p{
    display: none;
}
.last-item-left-container .right-side i{
    display: none;
}
.left-section-tweet-button{
    
    border-radius: 20px;
    padding-block: 9px;
    
    background-color: var(--twitter-color);
    color: var(--twitter-background);
    font-weight: 900;
    border: none;
    cursor: pointer;
    position: relative;
    
}
}



