/*This is the style for the login/create account page*/
*{
    background-color: white;
}


body{
    overflow-y: hidden;
   display: grid;
   flex-direction: row;
   place-items: center;
   
}
.fa-twitter{
    color:blue;
    margin:  auto;
    margin-top: 15px;
    margin-bottom:25px;
      }


.signup-container{
    max-width:475px;
    padding-inline: 20px;
    display: grid;
    
   }


.signup-container h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 25px;

}
.ori-zontal{
    display: flex;
    justify-content: center;
    position: relative;
}

.ori-zontal img{
    width:46%;
margin-inline: 8px;
}

.bars button{
    width: 100%;
    border-radius: 60px;
    cursor:pointer;
    padding-block:8px;
}

#apple-line{
    font-weight: 900;
}

.topbars-container { /*This is to create space between the two buttons*/
    display: grid;
    row-gap: 20px;
}
.bottombars-container {/*This is to create space between the two buttons*/
    display: grid;
    row-gap: 20px;
}
form{
    margin-top: 15px;
      
}

form input{
    padding-block: 10px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 4px;
}
.signup-container p{
    margin-block: 10px 30px;
}

.ori-zontal h2{
    position: absolute;
    transform: translateY(90%);
    
}

a{
    text-decoration: none;
    font-weight: 400;
    color: skyblue;
}

.bottom-line{ /*This allows me to create space for the last element at at the bottom*/
    margin-top:36px;
}
.one{/*This enables me to set a black background for this particlar button*/
background-color: black;
color:white;
font-weight: 700;
}

@media (min-width:768px){ /*for larger screen sizes*/
    section{
        border: 10px solid white;
        color: white;
        flex-grow: 4;
    }

    body{
        background-color: grey;
    }

    .signup-container{
        scale:1.3;
        max-width: 400px;
        padding-bottom: 80px;
        background-color: white;
        color: white;
        border-radius: 20px;
    }
.fa-twitter{
    margin-top:15px;
}
      
    h2, p{
        color: grey;
    }
}

@media (min-width:1750px){
    .signup-container{
    flex-grow: 4;
    scale:2.4;
    }
}